/* 
███████╗████████╗██╗   ██╗██╗     ███████╗
██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
███████╗   ██║    ╚████╔╝ ██║     █████╗  
╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  
███████║   ██║      ██║   ███████╗███████╗
╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
*/
* {
  border: none;
  font-family: "Fira Code", "Symbols Nerd Font Mono";
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 25px;
}

window#waybar {
  background: #1b1b1b;
  border-radius: 5px;
  margin-top: 5px;
}

#custom-arch,
#clock,
#custom-arch2,
#custom-power {
  color: #aa6bbd;
}

#custom-arch2 {
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 10px;
  font-size: 20px;
}

#custom-arch,
#custom-power {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 20px;
}

#clock {
  background-color: #1b1b1b;
}

#workspaces {
  min-width: 0;
}

#workspaces button {
  color: #fff;
  min-width: 0;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inherit;
  border-radius: 2px;
}

#pulseaudio {
  color: #fff;
  margin: 5px;
}

#tray {
  margin-right: 10px;
}
